.o_web_client.o_fullscreen {

    .o_form_view.o_workorder_tablet {
        .o_notebook {
            padding-left: 32px;
            padding-right: 32px;
            .nav-item {
                & > a {
                    &.nav-link:not(.active) {
                        color: white;
                    }
                }
            }
            .tab-content {
                border-bottom: 0;
            }
        }
    }
}
